/* Imports the poppins font from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unlock&display=swap');
:root{
    --main-color: #074E8C;
    --text-color-01: #07070D;
    --text-color-02:#F2F2F2;
    --text-color-03:#064073;
    --text-color-04:#224F59;
    --text-color-05:#44C6E9;
    --bg-color-01: #F2F2F2;
    --bg-color-02: #07070D;
    --bg-color-03: #A9A9A9;
    --bg-color-04: rgba(255, 249, 253, 0.589); /* 60% de opacidade */
    --color-00: #0000001a;


    /* EXTRA */
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950F2;
    --color-04: #C00000;
    --color-05: #232323;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    /* rolar suave na pagina ao clicar nos index */
    scroll-behavior: smooth;  
    background: none;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body{
    background-color: var(--bg-color-01);
    color: var(--text-color-01);
}

/* HEADER */
.logo{
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--main-color);
    text-transform: uppercase;
    font-family: "Unlock", serif;
    cursor: default;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background-color: var(--bg-color-01);
}

.nav a{
    font-size: 1.2rem;
    color: var(--text-color-01);
    padding: 0.1rem 1rem;
    transition: 0.4s;
}

.nav a:hover{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
/* /HEADER */

/*  MAIN / HERO */
.hero{
    position: relative;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%), url(../img/hero-img.jpg) no-repeat center center;
    background-size: cover;
    color: var(--bg-color-01);
    padding: 10rem 2rem; /* Ajusta o padding para criar espaço dentro da seção */
    padding-top: calc(10rem + 2rem); /* Adiciona padding superior suficiente para o header fixo */
    margin-top: 0; /* Remove qualquer margem extra superior */
    width: 100%;
    min-height: 110vh;
}


.hero-content{
    position: absolute;
    left: 2rem;
    top: rem;
    z-index: 2;
}

.hero-content h1{
    font-size: 3rem;
}

.hero-content h1 span{
    color: var(--main-color);
}

.hero-content p{
    margin: 2rem 0rem;
    word-wrap: break-word; /* Quebra palavras longas */
    line-height: 1.6; /* Ajuste a altura da linha para melhor legibilidade */
    max-width: 40rem; /* Limita a largura máxima do texto */
}
.btn-divs{
    position: absolute;
    left: 2rem;
    top: 30rem;
    z-index: 2;
    font-size: 2.5rem;
}

.card-blue{
    position: absolute; /* Posiciona o card de forma absoluta dentro da hero */
    right: 3rem;
    bottom: -10.5rem;
    background-color: var(--main-color);
    padding: 2.2rem;
    border-radius: 8px;
    color: #fff;
    z-index: 1; /* Certifica-se de que o card esteja acima da imagem, mas abaixo do conteúdo */
    max-width: max-content;
    width: calc(100% - 1rem); /* Ajusta a largura conforme necessário */
    white-space: nowrap; /* Impede quebra de linha */
   
}

.card-blue p{
    padding: auto;
    margin: 0.8rem 0.5rem;
}
/* Estiliza a linha de score */
.row-score {
    position: relative;
    background: #f4f4f4; /* Cor de fundo para a seção de score */
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}

.score {
    text-align: center;
    display: flex;
    align-items: center;
}
.score h2{
    color: var(--main-color);
    font-size: 2rem;
    margin-left: 0.8rem;
}

.score p{
    font-size: 1rem;
    text-align: left;
    margin-left: 0.8rem;
}


/* Ajuste o layout para garantir que o card-blue se estenda até a seção de score */
.hero, .card-blue {
    width: 100%;
}
/* /MAIN / HERO */

/* /ABOUT US */
.about{
    background-color: var(--bg-color-01);
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.signature{
    font-size: 2rem;
}
.about span{
    color: var(--main-color);
}

.about img{
    width: 70%;
}
/* /ABOUT US */

/*  OUR SERVICES */
/* /OUR SERVICES */

/*  CONTACT */

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%), url(../img/form-img.jpg) no-repeat center center;
    background-size: cover;
    color: var(--bg-color-01);
    padding: 5rem 2rem 10rem; /* Ajusta o padding para criar espaço dentro da seção */
   
}

.contact-titles{
    text-align: center;
    flex-direction: column;
    margin-bottom: 2rem;
    display: flex;
}

.contact-p-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 0.5rem;
}

.contact-p-box i{
    margin-right: 0.5rem;
    font-size: 1.1rem;
    padding: auto;
}

.contact-box-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    gap: 5rem;
}

.contact-form{
    display: flex;
    flex-direction: column;
    color: var(--bg-color-01);
    background-color: var(--main-color);
    border-radius: 0.8rem;
    width: 70%;

}

.contact-form p, .contact-form h3{
    margin-top: 1rem;
}
.contact-form form{
    margin-top: 0.8rem;
    width: 100%;
}
.form-content{
    padding: 1rem;
}

.form-content input, textarea, select{ 
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--bg-color-01);
}

.input-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.input-box input,select{
    width: 50%;
}
.input-box textarea{
    width: 100%;
}

.contact-info{
    width: 25%;
}
.contact-info h3{
    margin-bottom: 2rem;
}

.contact-info h4{
    margin-bottom: 0.5rem;
}

.contact-content{
    margin-bottom: 1rem;
}
/* /CONTACT */

/*  FOOTER */

.footer-title .logo{
    color: var(--bg-color-01);  /* Alterar a cor do logo so no footer*/
}

footer{
    background-color: var(--bg-color-02);
    color: var(--text-color-02);
    padding: 3rem;
}

.footer-title{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}
.newsletter-footer{
    display: flex;
}

.newsletter-footer input{
    padding: 0.5rem;
    margin-right: 0.5rem;
    color: var(--text-color-02); 
}
.box-input-footer{
    border-bottom: solid  0.1rem var(--text-color-02);
}
.box-footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.footer-about, .footer-address, .footer-contact, .footer-links {
    margin: 0 20px; /* Adiciona espaçamento entre as colunas */
}

.footer-about p {
    margin: 0; /* Remove margens para evitar desalinhamento */
}

.box-footer p{
    margin-top: 0.5rem;
    word-wrap: break-word;
}

.footer-about{
    flex: 0 0 40%; /* Mantém a largura fixa em 40% */
}

.footer-address,
.footer-contact,
.footer-links {
    flex: 1; /* Permite que essas colunas se expandam igualmente */
    min-height: 12rem;
}

.footer-links{
    width: 10%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--bg-color-01);
}
.footer-links a{
    text-decoration: none;
    color: var(--bg-color-01);
}

/* /FOOTER */



/* BUTTON */
.btn{
    display: inline-block;
    padding: 1rem 1rem;
    background-color: var(--main-color);
    border-radius: 1rem;
    color: var(--bg-color-01);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
    border: none;
    width: max-content;
}

.btn:hover{
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
}

.form-btn{
    color: var(--bg-color-01);
    background-color: black;
}


.form-btn:hover{
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: var(--bg-color-01);
    color: black;
    transform: scale(1.1);
    cursor: pointer;
}

.content-btn{
    color: var(--bg-color-01);
    background-color: var(--main-color);
}

.content-btn:hover{
    box-shadow: 0 0 0.3rem var(--bg-color-02);
    background-color: var(--bg-color-01);
    color: black;
    transform: scale(1.1);
    cursor: pointer;
}

.btn-subscribe{
    color: var(--bg-color-01);
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-subscribe:hover{
    color: var(--bg-color-01);
    transform: scale(1.3);
}


/* /BUTTON */